@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(
		45deg,
		#405de6,
		#5851db,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d
	);
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.search {
	position: relative;
	height: 50px;
}
.search .input {
	background-color: white;
	border: 0;
	font-size: 18px;
	padding: 15px;
	height: 50px;
	width: 50px;
	transition: width 0.3s ease;
}
.btn {
	background-color: #fff;
	cursor: pointer;
	font-size: 24px;
	position: absolute;
	border: 0;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	transition: transform 0.3s ease;
}
.btn:focus,
.input:focus {
	outline: none;
}
.search.active .input {
	width: 200px;
}
.search.active .btn {
	transform: translateX(198px);
}
::placeholder {
	font-style: italic;
	font-family: cursive;
}
